<!-- Attractions Search Panel -->
<div class="search_panel">
    <form action="#" id="search_form_3" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
        <div class="grid">
            <div class="row attractionCenter">
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Natural
                        </div>
                        <input type="checkbox" id="Natural" name="Natural">
                    </div>
                </div>
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Cultural
                        </div>
                        <input type="checkbox" id="Cultural" name="Cultural">
                    </div>
                </div>
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Historical
                        </div>
                        <input type="checkbox" id="Historical" name="Historical">
                    </div>
                </div>
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Religion
                        </div>
                        <input type="checkbox" id="Religion" name="Religion">
                    </div>
                </div>
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Architecture
                        </div>
                        <input type="checkbox" id="Architecture" name="Architecture">
                    </div>
                </div>
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Industrial Facilities
                        </div>
                        <input type="checkbox" id="IndustrialFacilities" name="IndustrialFacilities">
                    </div>
                </div>
                <div class="col-sm-3 order-sm-1 order-2  ">
                    <div class="search_item">
                        <div>
                            Other
                        </div>
                        <input type="checkbox" id="Other" name="Other">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>