<div id="departure-flight-quiz" class="game-quiz-container white_content display_none">
    <div class="game-details-container">
        <h3>Departure flight</h3>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-departure-flight-class-question">Did you enjoyed the flight class?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-departure-flight-class" name="option-departure-flight-class" class="radio" value="yes"/>
                        <label for="option-yes-departure-flight-class" class="option" id="option-yes-departure-flight-class-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-departure-flight-class" name="option-departure-flight-class" class="radio" value="no"/>
                        <label for="option-no-departure-flight-class" class="option" id="option-no-departure-flight-class-label">No</label>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-departure-flight-company-question">Did you enjoyed the flight company?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-departure-flight-company" name="option-departure-flight-company" class="radio" value="yes"/>
                        <label for="option-yes-departure-flight-company" class="option" id="option-yes-departure-flight-company-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-departure-flight-company" name="option-departure-flight-company" class="radio" value="no"/>
                        <label for="option-no-departure-flight-company" class="option" id="option-no-departure-flight-company-label">No</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-departure-flight-date-question">Was the departure flight date acceptable?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-departure-flight-date" name="option-departure-flight-date" class="radio" value="yes"/>
                        <label for="option-yes-departure-flight-date" class="option" id="option-yes-departure-flight-date-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-departure-flight-date" name="option-departure-flight-date" class="radio" value="no"/>
                        <label for="option-no-departure-flight-date" class="option" id="option-no-departure-flight-date-label">No</label>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-departure-flight-time-question">Did the flight departure time matched your needs?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-departure-flight-time" name="option-departure-flight-time" class="radio" value="yes"/>
                        <label for="option-yes-departure-flight-time" class="option" id="option-yes-departure-flight-time-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-departure-flight-time" name="option-departure-flight-time" class="radio" value="no"/>
                        <label for="option-no-departure-flight-time" class="option" id="option-no-departure-flight-time-label">No</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="next-button-container">
        <button id="departure-flight-next">Next></button>
    </div>
</div>
<div id="return-flight-quiz" class="game-quiz-container display_none white_content">
    <div class="game-details-container">
        <h3>Return flight</h3>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-return-flight-class-question">Did you enjoyed the flight class?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-return-flight-class" name="option-return-flight-class" class="radio" value="yes"/>
                        <label for="option-yes-return-flight-class" class="option" id="option-yes-return-flight-class-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-return-flight-class" name="option-return-flight-class" class="radio" value="no"/>
                        <label for="option-no-return-flight-class" class="option" id="option-no-return-flight-class-label">No</label>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-return-flight-company-question">Did you enjoyed the flight company?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-return-flight-company" name="option-return-flight-company" class="radio" value="yes"/>
                        <label for="option-yes-return-flight-company" class="option" id="option-yes-return-flight-company-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-return-flight-company" name="option-return-flight-company" class="radio" value="no"/>
                        <label for="option-no-return-flight-company" class="option" id="option-no-return-flight-company-label">No</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-return-flight-date-question">Was the return flight date acceptable?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-return-flight-date" name="option-return-flight-date" class="radio" value="yes"/>
                        <label for="option-yes-return-flight-date" class="option" id="option-yes-return-flight-date-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-return-flight-date" name="option-return-flight-date" class="radio" value="no"/>
                        <label for="option-no-return-flight-date" class="option" id="option-no-return-flight-date-label">No</label>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-return-flight-time-question">Did the flight return time matched your needs?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-return-flight-time" name="option-return-flight-time" class="radio" value="yes"/>
                        <label for="option-yes-return-flight-time" class="option" id="option-yes-return-flight-time-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-return-flight-time" name="option-return-flight-time" class="radio" value="no"/>
                        <label for="option-no-return-flight-time" class="option" id="option-no-return-flight-time-label">No</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="next-button-container">
        <button id="return-flight-next">Next></button>
    </div>
</div>
<div id="property-quiz" class="game-quiz-container display_none white_content">
    <div class="game-details-container">
        <h3>Property</h3>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-property-class-question">Did you enjoyed the property type?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-property-type" name="option-property-type" class="radio" value="yes"/>
                        <label for="option-yes-property-type" class="option" id="option-yes-property-type-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-property-type" name="option-property-type" class="radio" value="no"/>
                        <label for="option-no-property-type" class="option" id="option-no-property-type-label">No</label>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-property-company-question">Did you enjoyed the place type?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-property-place-type" name="option-property-place-type" class="radio" value="yes"/>
                        <label for="option-yes-property-place-type" class="option" id="option-yes-property-place-type-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-property-place-type" name="option-property-place-type" class="radio" value="no"/>
                        <label for="option-no-property-place-type" class="option" id="option-no-property-place-type-label">No</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-property-date-question">Are you ok with rooms and beds?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-property-rooms-beds" name="option-property-rooms-beds" class="radio" value="yes"/>
                        <label for="option-yes-property-rooms-beds" class="option" id="option-yes-property-rooms-beds-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-property-rooms-beds" name="option-property-rooms-beds" class="radio" value="no"/>
                        <label for="option-no-property-rooms-beds" class="option" id="option-no-property-rooms-beds-label">No</label>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="game-question-container">
                    <h3 id="display-property-time-question">Did you liked the amenities?</h3>
                </div>
                <div class="game-options-container">
                    <span>
                        <input type="radio" id="option-yes-property-amenities" name="option-property-amenities" class="radio" value="yes"/>
                        <label for="option-yes-property-amenities" class="option" id="option-yes-property-amenities-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="option-no-property-amenities" name="option-property-amenities" class="radio" value="no"/>
                        <label for="option-no-property-amenities" class="option" id="option-no-property-amenities-label">No</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="next-button-container">
        <button id="property-next">Next></button>
    </div>
</div>
<div id="attractions-quiz" class="game-quiz-container display_none white_content">
    <div class="game-details-container">
        <h3>Attractions</h3>
    </div>
    <div id="attractions-table-quiz" class="container">
        <!-- Here will be generated code -->
    </div>
    <div class="next-button-container">
        <button id="send-evaluation">Send</button>
    </div>
</div>
<div id="fade" class="black_overlay"></div>
<script>


$(document).ready(function() {
    $('#departure-flight-quiz').hide();
});
$(document).ready(function() {
    $("#btnRate").click(function(){
        document.getElementById('departure-flight-quiz').style.display='block';
        document.getElementById('fade').style.display='block';
        $('#departure-flight-quiz').removeClass('display_none');
        $('#departure-flight-quiz').show();
      });
    });
$(document).ready(function() {
    $("#departure-flight-next").click(function(){
        $('#departure-flight-quiz').hide(); //hide
        $('#departure-flight-quiz').addClass('display_none');
        $("#return-flight-quiz").removeClass('display_none');
        $("#return-flight-quiz").show();

        let departureFlightClassLike = $("input[name=option-departure-flight-class]")[0].checked;
        let departureFlightCompanyLike = $("input[name=option-departure-flight-company]")[0].checked;
        let departureFlightDateLike = $("input[name=option-departure-flight-date]")[0].checked;
        let departureFlightTimeLike = $("input[name=option-departure-flight-time]")[0].checked;

        let departureFlightLike = departureFlightClassLike + ", " + departureFlightCompanyLike + ", " + departureFlightDateLike + ", " + departureFlightTimeLike;
          $.ajax({
                  type: 'POST',
                  url: '/Evaluation/StoreDepartureFlightEvaluation/' + departureFlightLike,
                  success: function (response) {
                           },
                  error: function (response) {
                             // code on failure
                         }
        });
    }); 
});

$(document).ready(function() {
    $("#return-flight-next").click(function(){
        $('#return-flight-quiz').hide(); //hide
        $("#return-flight-quiz").removeClass('display_none');
        $("#return-flight-quiz").show();

        let returnFlightClassLike = $("input[name=option-return-flight-class]")[0].checked;
        let returnFlightCompanyLike = $("input[name=option-return-flight-company]")[0].checked;
        let returnFlightDateLike = $("input[name=option-return-flight-date]")[0].checked;
        let returnFlightTimeLike = $("input[name=option-return-flight-time]")[0].checked;

        let returnFlightLike = returnFlightClassLike + ", " + returnFlightCompanyLike + ", " + returnFlightDateLike + ", " + returnFlightTimeLike;
          $.ajax({
                  type: 'POST',
                  url: '/Evaluation/StoreReturnFlightEvaluation/' + returnFlightLike,
                  success: function (response) {
                           },
                  error: function (response) {
                             // code on failure
                         }
        });
    }); 
});
$(document).ready(function() {
    $("#return-flight-next").click(function(){
        $('#return-flight-quiz').hide(); //hide
        $("#property-quiz").removeClass('display_none');
        $("#property-quiz").show();

    }); 
});
$(document).ready(function() {
    $("#property-next").click(function(){ /////////////////////////search_services
        let constructAttractionsQuiz = "";
        $.each(attractionsList, function( index, value ) {
          if (index % 2 === 0)
          {
              if (index !== 0)
                constructAttractionsQuiz += "</div><div class=\"row align-items-start\">";
              else
                 constructAttractionsQuiz += "<div class=\"row align-items-start\">"; 
          }
          
            constructAttractionsQuiz += "<div class=\"col\"><div class=\"game-question-container\"><h3 id=\"display-attractionNumb"+ index +"-question\">Did you enjoyed the " + value +"?</h3></div><div class=\"game-options-container\"><span><input type=\"radio\" id=\"option-yes-attractionNumb"+ index+"\" name=\"option-attractionNumb"+ index +"\" class=\"radio\" value=\"yes\"/><label for=\"option-yes-attractionNumb"+ index +"\" class=\"option\" id=\"option-yes-attractionNumb"+ index +"-label\">Yes</label></span><span><input type=\"radio\" id=\"option-no-attractionNumb"+ index +"\" name=\"option-attractionNumb"+ index +"\" class=\"radio\" value=\"no\"/><label for=\"option-no-attractionNumb"+ index +"\" class=\"option\" id=\"option-no-attractionNumb"+ index+"-label\">No</label></span></div></div>";        
        });
        if (attractionsList.length % 2 === 1)
        {
            constructAttractionsQuiz += "<div class=\"col\"></div>"
        }
        constructAttractionsQuiz += "</div>";
       $('#attractions-table-quiz').html(constructAttractionsQuiz);
       $('#property-quiz').hide(); //hide
       $("#attractions-quiz").removeClass('display_none');
       $("#attractions-quiz").show();

       let propertyType = $("input[name=option-property-type]")[0].checked;
       let propertyPlaceType = $("input[name=option-property-place-type]")[0].checked;
       let propertyRoomsAndBeds = $("input[name=option-property-rooms-beds]")[0].checked;
       let propertyAmenities = $("input[name=option-property-amenities]")[0].checked;

       let propertyEvaluations = propertyType + ", " + propertyPlaceType + ", " + propertyRoomsAndBeds + ", " + propertyAmenities;
         $.ajax({
                 type: 'POST',
                 url: '/Evaluation/StorePropertyEvaluation/' + propertyEvaluations,
                 success: function (response) {
                   $('#flightForm')[0].reset();
                   $('#search_form_2')[0].reset();
                   $('#search_form_3')[0].reset();
                          },
                 error: function (response) {
                            // code on failure
                        }
       });
    });
});

$(document).ready(function() {
    $("#send-evaluation").click(function(){
		let attractionEvaluations = "";

		$.each(attractionsList, function( index, value ) {
		let inputType = "input[name=option-attractionNumb" + index + "]";
		let input = $(inputType)[0].checked;
		if(index === 0)
		{
			attractionEvaluations = input;
		}
		else
		{
			attractionEvaluations += ", " + input;
		}

        document.getElementById('fade').style.display='none';
         $('#attractions-quiz').hide();
        
		});
        
         $.ajax({
                 type: 'POST',
                 url: '/Evaluation/StoreAttractionsEvaluation/' + attractionEvaluations,
                 success: function (response) {
                     $("input[name=option-departure-flight-class]").prop('checked', false);
                     $("input[name=option-departure-flight-company]").prop('checked', false);
                     $("input[name=option-departure-flight-date]").prop('checked', false);
                     $("input[name=option-departure-flight-time]").prop('checked', false);
                     
                     $("input[name=option-return-flight-class]").prop('checked', false);
                     $("input[name=option-return-flight-company]").prop('checked', false);
                     $("input[name=option-return-flight-date]").prop('checked', false);
                     $("input[name=option-return-flight-time]").prop('checked', false);
                     
                     $("input[name=option-property-type]").prop('checked', false);
                     $("input[name=option-property-place-type]").prop('checked', false);
                     $("input[name=option-property-rooms-beds]").prop('checked', false);
                     $("input[name=option-property-amenities]").prop('checked', false);
                        attractionsList = [];                 
                          },
                 error: function (response) {
                            // code on failure
                        }
        });
         
        $('#flight_search_panel').fadeIn();
        $('#vacationServiceTab').fadeIn();
        $('#servicesSearchForm').fadeIn();
        $('#carousel_4ffd').fadeOut();
        $("#carousel_4ffd").addClass('display_none');
	});
});
</script>