<section class="u-align-center u-clearfix u-grey-10 u-section-1 display_none" id="carousel_4ffd" >
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-expanded-width u-layout-grid u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-border-20 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <span class="u-custom-item u-icon u-icon-circle u-palette-2-base u-text-white u-icon-1">
              <img src="~/images/departure_white.png" alt="">

            </span>
            <h4 class="u-text u-text-2">Flight recommendation</h4>
            <h5 class="u-text u-text-2">Departure</h5>
            <ul id="departureFlightRecommendation" class="u-align-left">
            </ul>
            <h5 class="u-text u-text-2">Return</h5>
            <ul id="returnFlightRecommendation" class="u-align-left">
            </ul> 
          </div>
        </div>
        <div class="u-align-center u-border-20 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-4-base u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <span class="u-custom-item u-icon u-icon-circle u-palette-4-base u-text-white u-icon-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <img src="~/images/suitcase_white.png" alt="">
            </span>
            <h4 class="u-text u-text-4">Property recommendation</h4>
            <ul id="propertyRecommendation" class="u-align-left">
            </ul>
          </div>
        </div>
        <div class="u-align-center u-border-20 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-1-light-1 u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <span class="u-custom-item u-icon u-icon-circle u-palette-1-light-1 u-text-white u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <img src="~/images/island_white.png" alt="">
            </span>
            <h4 class="u-text u-text-6">Top attractions</h4>
            <table id = "attractionsRecommendation" class = "u-align-left"> 
            </table>
          </div>
        </div>
      </div>
    </div>
      <div id = "btnRate" class="button rate_button">Rate
        <span>
        </span>
        <span>
        </span>
        <span>
        </span>
      </div>
  </div>

</section>